#body-img-3 {
    background-image: url("../../images/blur-background-coffee.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.bottom-space {
    height: 15vh;
    width: 50%;
    margin: auto;
    margin-top: 5vh;
}

@media screen and (max-width: 767px) {
    .bottom-space {
        height: 15vh;
        width: 90%;
        margin: auto;
        margin-top: 3vh;
    }
    
  }

@media screen and (max-width: 812px) and (max-height: 376px) {
    .bottom-space {
        height: 32vh;
    }

}