.about-head-text {
    font-family: 'Lobster', cursive;
    color: #eb774c;
    margin-top: 12vh;
    margin-left: 5vw;
}

.about-head {
    margin-top: 10vh;
}

.about-page-quote {
    margin-top:2vh;
}

.profile-pic {
    background-image: url("../../images/profile-pic.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    height: 30vh;
    width: 30vh;
    float: left;
    position: -webkit-sticky; /* Safari */
    position: relative;
    top: 1vh;
    left: 12vw;
    color: black;
    z-index: 99;
}

.about-quote-author {
    float: right;
}

@media screen and (max-width: 1370px) and (max-height: 1025px) {

    .profile-pic {
        top: 1vh;
        left: 10vw;
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: 19vh;
        margin-left: 8vw;
        font-size: 70px;
    }

    .about-page-quote {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 1025px) and (max-height: 1500px) {

    .profile-pic {
        top: 1vh;
        left: 10vw;
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: 10vh;
        margin-left: 7vw;
        font-size: 60px;
    }

    .about-page-quote {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 1025px) and (max-height: 770px) {

    .profile-pic {
        top: 3vh;
        left: 10vw;
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: 18vh;
        margin-left: 7vw;
        font-size: 60px;
    }

    .about-page-quote {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 770px) {

    .profile-pic {
        top: 1vh;
        left: 10vw;
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: -13vh;
        margin-left: 50vw;
        font-size: 60px;
    }

    .about-page-quote {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 720px) and (max-height: 540px) {

    .profile-pic {
        top: 6vh;
        left: 10vw;
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: -20vh;
        margin-left: 50vw;
        font-size: 60px;
    }

    .about-page-quote {
        margin-left: 2vw;
        margin-top: 5vh;
    }
}

@media screen and (max-width: 825px) and (max-height: 415px) {
    .profile-pic {
        top: 12vh;
        left: 12vw;
        width: 25vw;
        height: 25vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: -20vh;
        margin-left: 55vw;
        font-size: 45px;
    }

    .about-page-quote {
        margin-top: 10vh;
        margin-left: 2vw;
    }

}

@media screen and (max-width: 815px) and (max-height: 376px) {

    .profile-pic {
        top: 12vh;
        left: 12vw;
        width: 25vw;
        height: 25vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: -20vh;
        margin-left: 55vw;
        font-size: 45px;
    }

    .about-page-quote {
        margin-top: 10vh;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 740px) and (max-height: 415px) {

    .profile-pic {
        top: 12vh;
        left: 12vw;
        width: 25vw;
        height: 25vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: -16vh;
        margin-left: 55vw;
        font-size: 45px;
    }

    .about-page-quote {
        margin-top: 10vh;
        margin-left: 2vw;
    }
}

@media screen and (max-width: 415px) {

    .profile-pic {
        top: 1vh;
        left: 6vw;
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: -11vh;
        margin-left: 45vw;
        font-size: 45px;
    }

    .about-page-quote {
        margin-left: 2vw;
    }
}

@media screen and (max-width: 325px) {

    .profile-pic {
        top: 3vh;
        left: 6vw;
        width: 30vw;
        height: 30vw;
        margin: auto;
    }

    .about-head-text {
        margin-top: -9vh;
        margin-left: 43vw;
        font-size: 40px;
    }
}