.navbar {
    background: transparent;
    box-shadow: none;
}

.navbar-item {
    color: #eb774c;
    font-size: 20px;
}

.right-nav-item {
    margin-right: 5vw;
}

.portfolio-link:hover {
    background: transparent;
}