.navbar {
    background: transparent;
    box-shadow: none;
}

.navbar-item {
    color: #eb774c;
    font-size: 20px;
}

.right-nav-item {
    margin-right: 5vw;
}

.portfolio-link:hover {
    background: transparent;
}

.nav-logo {
    width: 3vh;
    height: 5vh;
    padding-top: 2vh;
}

.nav-brand-name {
    /* margin-top: -5vh !important; */
}