.content-3-shape-hover {
    
}

#content-3-shape {
    width: 50vw;
    height: 50vw;
    margin: auto;
    background: #1c3750;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    overflow: hidden;
    z-index: 0;
    bottom: -90%;
    left: -36%;
    transition: .5s;
    
}

#content-3-diamond {
    width: 20vw;
    height: 20vw;
    margin: auto;
    background: #f1c9b5;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 50%;
    position: absolute;
    top: 11.5vh;
    left: 5vw;
    transition: .5s;
    z-index: 1;
    
}

#content-diamond-3-text {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 95%;
    margin-top: 32.5%;
    margin-left: 4.5%;
    color: white;
    transition: .5s;
    text-align: center;

}

#body-content-three {
    height: 53vh;
}

#content-3-text {
    margin-top: 11vh;
}

.content-hr-3 {
    width: 33%;
    margin-left: 0;
}

#content-3-diamond:hover #content-diamond-3-text {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: .5s;
    margin-left: -.2vw;
    margin-top: 12vh;
}

#content-3-diamond:hover + #content-3-shape {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    bottom: -90% !important;
    left: -47% !important;
    transition: .5s !important;
}

@media screen and (max-width: 767px) {
    .home-area-mobile {
        display: none;
    }

    #content-3-text {
        margin-top: 5vh;
    }

    #body-content-three {
        height: 42vh;
    }
    
  }

  @media screen and (max-width: 812px) and (max-height: 376px) {
    .home-area-mobile {
        display: none !important;
    }
    
    #content-3-text {
        margin-top: 0vh;
        width: 90%;
        transition: .5s;
    }
    
    #body-content-three {
        padding-top: 10vh;
        height: 90vh;
    }
    
    }