#portfolio-header-img {
    /* background-image: url("../../images/IMG_3137.jpeg"); */
    background-image: url("../../images/portfolio.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-attachment: fixed;
    margin: auto;
    margin-top: 5vh;
    height: 44.5vh;
    width: 100%;
    top:0;
    /* height: 20ah; */
    position: absolute;
}

#portfolio-header-text {
    position: absolute;
    top: 23%;
    left:35%;
    font-size: 60px;
    /* font-weight: 900; */
    color: #eb774c;
    font-family: 'Lobster', cursive;
}

@media screen and (max-width: 1025px) and (max-height: 1500px) {

    #portfolio-header-text {
        top: 8%;
    }
}

@media screen and (max-width: 770px) and (max-height: 1025px) {

    #portfolio-header-text {
        left: 38% !important;
        top: 12vh;
    }
}

@media screen and (max-width: 991px) {
    #portfolio-header-img {
        background-image: url("../../images/portfolio.jpg") no-repeat center;
        margin: auto;
        /* height: 50vh; */
    }

    #portfolio-header-text {
        position: absolute;
        top: 40%;
        width: 50vw;
        left:33%;
        margin: auto;
        font-size: 40px;
    }

    .project-area {
        margin-top: 12vh;
    }
}

@media screen and (max-width: 376px) and (max-height: 815px) {
    #portfolio-header-text {
        top: 18vh;
        left: 33% !important;
    }
}

@media screen and (max-width: 815px) and (max-height: 376px) {
    #portfolio-header-text {
        top: 25vh;
        left: 40% !important;
    }
}

@media screen and (max-width: 415px) and (max-height: 740px) {
    #portfolio-header-text {
        top: 22vh;
        left: 35% !important;
    }

    .project-area {
        top: 10vh;
    }
}

@media screen and (max-width: 740px) and (max-height: 415px) {
    #portfolio-header-text {
        top: 22vh;
        left: 40% !important;
    }

    .project-area {
        top: 10vh;
    }
}

@media screen and (max-width: 767px) {

}