.scroll-color {
    background: #1D3A52 !important;
    color: white !important;
    /* transition: .5s; */
}

.nav-item-scroll {
    color: white !important;
    background: transparent !important;
    /* transition: .5s; */
}

#sidenav-overlay {
    display: none;
}

.button-collapse {
    color: #1D3A52;
}

.content-3-shape-hover {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
    bottom: -90% !important;
    left: -45% !important;
    transition: .5s !important;
}

@media screen and (max-width: 767px) {

    .nav-item-scroll {
        color: #1D3A52 !important;
        /* background: transparent !important; */
        /* transition: .5s; */
    }

    .right-nav-item {
        margin-left: 0vw;
    }

    .navbar-contact {
        margin-left: 5vw;
    }

    .button-collapse {
        color: #1D3A52;
    }

    .button-collapse-blue-nav {
        color: white;
    }
  }
