.scroll-color {
    background: #1D3A52 !important;
    color: white !important;
    /* transition: .5s; */
}

.nav-item-scroll {
    color: white !important;
    background: transparent !important;
    /* transition: .5s; */
}

#sidenav-overlay {
    display: none;
}

@media screen and (max-width: 767px) {

    .nav-item-scroll {
        color: #eb774c !important;
        /* background: transparent !important; */
        /* transition: .5s; */
    }

    .right-nav-item {
        margin-left: 0vw;
    }

    .navbar-contact {
        margin-left: 5vw;
    }

    .button-collapse {
        color: #eb774c !important;
    }
  }
