.socials {
    font-size: 30px;
    margin-top: 3vh;
}

.social-icon {
    margin-right: 15%;
    margin-left: 15%;
}

.social-icon-1 {
    margin-left: 4.5%;
}

@media screen and (max-width: 767px) {
    .home-top-space {
        background: rgb(235,119,76);
        background: linear-gradient(173deg, rgba(235,119,76,1) 0%, rgba(255,255,255,1) 44%, rgba(255,255,255,1) 100%);
    }

    .social-icon-1 {
        margin-left: 0%;
    }
    .social-icon {
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .social-icon-2 {
        margin-right: 10%;
    }
    
  }