.socials {
    font-size: 30px;
    /* margin-top: 3vh; */
}

.social-icon {
    margin-right: 15%;
    margin-left: 15%;
}

.social-icon-1 {
    margin-left: 4.5%;
}

.social-icon-col {
    width: 100%;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 767px) {

    .social-icon-1 {
        margin-left: 0%;
    }
    .social-icon {
        margin-right: 5%;
        margin-left: 5%;
    }
    
    .social-icon-2 {
        margin-right: 10%;
    }
    
  }