#body-img-2 {
    background-image: url("../../images/home-banner.jpg");
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    -webkit-transform: skewY(-7deg);
    -moz-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    transform: skewY(-7deg);
}