#header-text {
    position: absolute;
    top: 22%;
    width: 100%;
    margin: auto;
    font-family: 'Lobster', cursive;
    color: #eb774c;
    transition: .5s;
}

#header-text h1 {
    width: 50%;
    padding-right: 3%;
}

.header-message {
    text-align: center;
    margin-left: .5vw;
    animation-duration: 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.header-sub-message {
    width: 50%;
    text-align: center;
    color: #494949d7;
    font-size: 15px;
    font-weight: bold;
    animation: fadein 4s;
    font-family: 'Raleway', sans-serif;
    margin-left: -.4vw;
}

@media screen and (max-width: 767px) {
    #header-text {
        top: 18%;
    }

    #header-text h1 {
        padding-left: 1vw;
        width: 100%;
        font-size: 35px;
    }

    .header-sub-message {
        width: 100%;
        margin-top: 17vh;
    } 
    
  }