#header-text {
    position: absolute;
    top: 22%;
    width: 100%;
    margin: auto;
    font-family: 'Lobster', cursive;
    color: #eb774c;
    transition: .5s;
}

#header-text h1 {
    width: 50%;
    padding-right: 3%;
}

.header-message {
    text-align: center;
    margin-left: .5vw;
    animation-duration: 2s;
    animation-delay: 6.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.header-sub-message {
    width: 50%;
    text-align: center;
    color: #494949d7;
    font-size: 15px;
    font-weight: bold;
    animation: fadein 4s;
    font-family: 'Raleway', sans-serif;
    margin-left: -.4vw;
}

.header-sub-message-anim {
    animation-delay: 6.5s;
}


/* ================================ SVG ======================================= */
.svg-logo {
    position: absolute;
    top: 35%;
    left: 36.5%;
    transform: translate(-50%, -50%);
    animation-delay: 6s;

}

#logo {
    animation: fill 1.0s ease forwards 5.0s;
}

.svg-logo path:nth-child(1) {
    stroke-dasharray: 333.5;
    stroke-dashoffset: 333.5;
    animation: line-anim 2s ease forwards, remove-stroke 2s ease forwards 4.9s;
    /* animation: remove-stroke 2s ease forwards 1s; */
}

.svg-logo path:nth-child(2) {
    stroke-dasharray: 121.2;
    stroke-dashoffset: 121.2;
    animation: line-anim 2s ease forwards .3s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(3) {
    stroke-dasharray: 269.9;
    stroke-dashoffset: 269.9;
    animation: line-anim 2s ease forwards .6s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(4) {
    stroke-dasharray: 171.4;
    stroke-dashoffset: 171.4;
    animation: line-anim 2s ease forwards .9s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(5) {
    stroke-dasharray: 182.2;
    stroke-dashoffset: 182.2;
    animation: line-anim 2s ease forwards 1.2s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(6) {
    stroke-dasharray: 178.6;
    stroke-dashoffset: 178.6;
    animation: line-anim 2s ease forwards 1.5s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(7) {
    stroke-dasharray: 336.2;
    stroke-dashoffset: 336.2;
    animation: line-anim 2s ease forwards 1.8s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(8) {
    stroke-dasharray: 172.6;
    stroke-dashoffset: 172.6;
    animation: line-anim 2s ease forwards 2.1s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(9) {
    stroke-dasharray: 136.9;
    stroke-dashoffset: 136.9;
    animation: line-anim 2s ease forwards 2.4s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(10) {
    stroke-dasharray: 171.4;
    stroke-dashoffset: 171.4;
    animation: line-anim 2s ease forwards 2.7s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(11) {
    stroke-dasharray: 182.2;
    stroke-dashoffset: 182.2;
    animation: line-anim 2s ease forwards 3.0s, remove-stroke 2s ease forwards 4.9s;
}

.svg-logo path:nth-child(12) {
    stroke-dasharray: 178.6;
    stroke-dashoffset: 178.6;
    animation: line-anim 2s ease forwards 3.3s, remove-stroke 2s ease forwards 4.9s;
}



@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes remove-stroke {
    from {
        stroke-width: 1.5;
    }
    to {
        stroke-width: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #EB774C;
    }
}

/* =============================== Media Queries =============================== */
@media screen and (max-width: 767px) {
    #header-text {
        top: 20%;
    }

    #header-text h1 {
        padding-left: 1vw;
        width: 100%;
        font-size: 35px;
    }

    .header-sub-message {
        width: 100%;
        margin-top: 17vh;
    } 

    .svg-logo {
        top: 71%;
        left: 23%;
    }

    #logo {
        width: 70%;
    }
    
}

@media screen and (max-width: 813px) and (max-height: 376px) {
    .header-message {
        margin-left: 25.5vw;
        margin-top: -3vh;
        font-size: 40px;
    }

    .header-sub-message {
        margin-left: 31.5vw;
        margin-top: -3vh;
        font-size: 10px;
        width: 35%;
    }

    .svg-logo {
        top: 100%;
        left: 35%;
    }

    #logo {
        width: 60%;
    }

}

@media screen and (max-width: 376px) and (max-height: 813px) {

    .svg-logo {
        top: 8%;
        left: 23%;
    }

    #logo {
        width: 70%;
    }

}

@media screen and (max-width: 737px) and (max-height: 415px) {

    .header-sub-message {
        margin-top: 32vh;
    }

    .header-message {
        margin-top: 0;
    }

}