.modal.bottom-sheet {
    max-height: 80vh !important;
}

.contact-form {
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
}

.close-modal {
    background: transparent;
    border: none;
    color: rgb(85, 85, 85);
    box-shadow: none;
}

.close-modal:hover {
    background: transparent;
    border: none;
    color: rgb(85, 85, 85);
    box-shadow: none;
}

@media screen and (max-width: 767px) {
    .contact-border {
        border: none !important;
        margin-bottom: 5vh;
    }
    
  }